/* @font-face {
  font-family: 'EntezareZohoor2';
  src: url('./'), url('fonts/EntezareZohoor2.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  } */


* {
  box-sizing: border-box;
  /* overflow-x: hidden; */

}



.background {
  background-image: url(./assets/backcombat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;


}



.fightPage {

  background: linear-gradient(130deg, black, rgb(83, 9, 9))
}

.vs {
  width: 100px;
  height: 100px;
}

.backcart {
  background-image: url(./assets/OIP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}






.place {

  padding-left: 15%;

  padding-right: 15%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;


}

@media (max-width:700px) {
  .man {
    width: 100px;
    height: auto;
  }

  .typeofhero {
    font-size: 20px;
  }

  .vslogo {
    width: 100px;
    height: auto;
  }

  .harif {
    font-size: 20px;
  }

  .background {
    background: linear-gradient(130deg, black, rgb(250, 0, 0))
  }
}