.background{
    background-image: url(./assets/backcombat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.myForm{

  background-image: url(./assets/khorus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    
}
.form{
    margin-top: 200px;
}
.fightPage{
  background-image: url(./assets/backcombat.jpg);
  background-repeat: no-repeat;
  background-size: cover
}
.image{
/* margin-top: 300px; */
}