.background{
    background-image: url(./assets/back\ combat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.myForm{

  background-image: url(./assets/khorus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
    
}
.form{
    margin-top: 200px;
}